body{
    background-color: #34495e;
}

h1{
    color: white;
}

/* --- Добра идея е да не използваш само селектори по таг, тъй като по този начин ще си пречиш ако искаш да използваш този таг за нещо друго.
        Лесно решение е, да използваш селектора по таг в комбинация със такъв по клас.
        По този начин ще знаеш, че няма как да счупиш нещо друго по страницата. --- */
.person-info img{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.person-info{
    font-size: 10px;
    font-weight: bold;
    width: 350px;
    background-color: #e74c3c;
    display: inline-block;
    margin:20px; /* --- Добавя отстояния между елементите --- */
}

span{
    color: white;
    font-family: Verdana;
    letter-spacing: 1px;
    line-height: 25px;
}

.info{
    /* --- Не че аз бях сложил най-контрастните цветове на света, ама ти съвсем си се увлякла :) --- */
    color: rgb(214, 24, 24);
}

/* ----------- В края на HTML-а съм обяснил защо съм добавил тези стилове  ------------ */

.personData{
    display: inline-block;
}