body{
    margin: 0 auto;
    position: absolute;
    background-color: rgb(32, 32, 32);
}

p {
    color: white;
}

h1 {
    color: white;
}

ul {
    list-style-type: none;
}

/* --- Гледам, че разчиташ много на id селектори. 
        Дори и ако приемем, че не ни бърка това, че id селектора е с по-голяма тежест от почти всички други (което ще го направи значително по-труден за презаписване),
        поне поставяй по-уникални имена, тък като във една страница можем да имаме няколко header елемента, и това id не ми помага да се ориентирам за кой-точно елемент става на въпрос.
        Пример за по-конкретно id е: id="mainPageHeader" --- */

#header{
    position: fixed;
    background-color: rgb(22, 22, 22);
    padding: 10px;
}

#header a{
    text-decoration: none;
    color: white;
    margin-right: 200px;
    margin-left: 190px;
}

/* --- Понеже си използвал float на елементите вътре в контейнера, е хубаво да поставиш на parent елемента или float или display:inline-block, за да може да заеме релания размер и позиция, кито си му задал.  */
#content{
    display: inline-block;
    /* --- Без display property-то, този елемент имаше височина 0 px и нямаше как да видиш цвета на фона --- */
    background-color: #3b3b3b;  /* --- Цветът съм го сменил, за да може да се вижда белия текст --- */
    margin-top: 40px;
    width: 800px;
    margin-left: 280px;
    padding: 0 20px; /* --- Добавил съм го, за да отделя текста од ръбът на контейнера --- */
}

#content form{
    margin-top: 100px;
    background-color: #202020;
}


#content img {
    width: 400px;
    height: 250px;
}

#navigation {
    margin-top: 45px;
    position: fixed;
    color: white;
}

#navigation a{
    text-decoration: none;
    color: white;
}

#left-box {

    width: 400px;
    float: left;
    margin-top: 30px;
}

#content #left-box span{
    color: white;
}

#left-box a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: -25px;
    font-size: 20px;
}

#right-box {

    float: right;
    width: 400px;
    margin-top: 30px;
}

#right-box img{
    width: 400px;
    margin-top: 82px;
}

#right-box #right-box-gallery img{
    width: 400px;
    margin-top: 0;
}


#content span {
    color: white;
}

#content #right-box #carpic1 img {
    width: 400px;
    margin-top: 20px;
}

#content #right-box #carpic2 img {
    width: 400px;
    margin-top: 20px;
}